@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* CUSTOM BUTTON DESIGN */
    .btn-custom {
        align-items: center;
        background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #ffffff;
        display: inline-flex;
        font-size: 18px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        transition: all 0.3s;
    }

    .btn-custom:hover, .btn-custom:active {
        outline: 0;
    }

    .btn-custom span {
        background-color: rgb(5, 6, 45);
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
    }

    .btn-custom:hover span {
        background: none;
    }

    .btn-custom:active {
        transform: scale(0.9);
    }


    /* CUSTOM NAVIGATION BUTTON DESIGN */
    .btn-navigation {
        @apply text-secondary hover:text-primary transition;
    }

    .btn-navigation span {
        @apply text-primary me-1;
    }


    /* WAVE ANIMATION FOR HEADING */
    .wave {
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count: 1;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
    }

    .wave:hover {
        animation-iteration-count: infinite;  /* Never stop waving :) */
    }

    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
        10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
    }


    /* BLINKING CURSOR ANIMATION */
    @keyframes blinking {
        from {
            border-color: transparent;
        }
        to {
            border-color: orange;
        }
    }

    .blinking {
        overflow: hidden;
        border-right: 0.125em solid orange;
        animation: blinking 0.75s infinite;
        width: 0;
    }


    /* PROJECT DESIGN */
    .project-flip img {
        @apply lg:order-last;
    }

    .project-flip > div {
        @apply lg:text-start;
    }

    .project-flip div:last-child {
        @apply lg:flex-row;
    }


    /* ABOUT ME 3D HOVER IMAGE */
    #tilt {
        transition: box-shadow 0.1s, transform 0.1s;
        box-shadow: 0px 0px 30px #66fcf252;
    }

    #tilt:hover {
        box-shadow: 0px 0px 30px #66fcf1;
    }

    /* SECTION HEADING */
    .section-heading {
        @apply text-4xl my-10;
    }

    .section-heading span {
        @apply text-primary;
    }

    /* EXPERIENCE SECTION */
    .selected-tab {
        @apply text-primary border-l-primary border-l-4 rounded;
    }

    .not-selected-tab {
        @apply border-l-stone-500 border-l-2;
    }

    /* SIDEBAR SOCIAL LINKS */
    .social-link {
        @apply p-2 transition hover:text-primary mx-auto hover:translate-y-1;
    }

    .social-link:last-of-type {
        @apply mb-4;
    }

    .social-link > * {
        @apply text-3xl;
    }
}

@font-face {
    font-family: 'HeadingFont';
    src: url('/src/lib/static/fonts/MoskFont/Mosk Ultra-Bold 900.ttf');
}